<% if (locals.isLogged==true) { %>
    <header class="main-headder">
        <a href="/" id="hipervinculoLogo"><img src="/img/Logo Horizontal  .png" id="LGOG"></a>


        <div class="phone-menu">
            <div class="menu"><i class="fas fa-bars"></i></div>
            <span class="search-bar">
                <form action="/" method="POST">
                    <input type="text" name="busqueda" placeholder="Buscá productos, marcas y mas">

                </form>

            </span>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
            <% if (locals.userLogged && locals.userLogged.admin==true) { %>
                <a href="/user/control-panel"><i class="fas fa-store-alt"></i></a>
                <% } %>

                    <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>

        </div>
        </div>
        <div class="txt">
            <p><a href="/#Categoriass">Categorías</a></p>
        </div>
        <div class="txt">
            <p><a href="/products/#Ofertass">Ofertas</a></p>
        </div>
        <div class="txt">
            <p>Historial</p>
        </div>
        <div class="txt">
            <p><a href="/products">Explorar</a></p>
        </div>



        <div class="iconos">
            <% if (locals.userLogged && locals.userLogged.admin==true) { %>
                <a href="/user/control-panel">
                    <i class="fas fa-store-alt"></i>
                    Tienda
                </a>
                <% } %>

                    <div class="user-options-conteiner">
                        <a href="../user/profile"><i class="fas fa-user"></i>Hola <%= locals.userLogged.first_name %>!
                        </a>
                        <div class="options_box">
                            <div class="caja_separadora"></div>
                            <div class="profile_option a"><a href="../user/profile" class="po_txt"
                                    style="margin-left: 0px; width: 100%; font-size: 12px;color: black; display: inline-block; ">
                                    <p>Perfil</p>
                                </a></div>
                            <hr style="width: 100%; height: 0.5px; margin: 0 0">
                            <div class="profile_option b"><a href="../user/logout" class="po_txt"
                                    style="margin-left: 0px;width: 100%; font-size: 11px; color: black; display: inline-block;">
                                    <p>Cerrar Sesion</p>
                                </a></div>
                        </div>


                    </div>


                    <div></div>

                    <a href="../products/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>

                    <a href="/"><i class="fas fa-search"></i></a>




        </div>

    </header>
    <% }else{ %>

        <header class="main-headder">

            <a href="/" id="hipervinculoLogo"><img src="/img/Logo Horizontal  .png" id="LGOG"></a>


            <div class="phone-menu">
                <div class="menu"><i class="fas fa-bars"></i></div>
                <span class="search-bar">
                    <form action="/" method="POST">
                        <input type="search" name="busqueda" placeholder="Buscá productos, marcas y mas">

                    </form>

                </span>
                <a href="../user/login"><i class="fas fa-user"></i></a>
                <a href="../products/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
            <div class="txt">
                <p><a href="../#Categoriass">Categorías</a></p>
            </div>
            <div class="txt">
                <p><a href="../products/#Ofertass">Ofertas</a></p>
            </div>
            <div class="txt">
                <p>Historial</p>
            </div>
            <div class="txt">
                <p><a href="/products">Explorar</a></p>
            </div>



            <div class="iconos">
                <a href="../user/register">
                    <i class="fas fa-sign-in-alt"></i>
                    Creá tu cuenta
                </a>
                <a href="../user/login"><i class="fas fa-user"></i>Ingresá a tu cuenta</a>

                <a href="../products/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>

                <a href="/"><i class="fas fa-search"></i></a>




            </div>

        </header>
        <% } %>