<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>AvantGard</title>
<link href="https://cfl.dropboxstatic.com/static/css/error.css" rel="stylesheet" type="text/css"/>

</head>
<body style="background-color: #121655;">
<div class="figure">
<img src="/img/404/look-magnifying-glass.svg" alt="Error: 404"/>
</div>
<div id="errorbox">
<div class="not-found" style="color: white;"> <h1 style="color: white;">Error (404)</h1> No pudimos encontrar la pagina que estabas buscando. <div class="not-found--links"> Aca hay algunos link que te pueden servir: <ul> <li><a href="../">Home</a></li> <li><a href="../user/login">Login</a></li> <li><a href="../user/register">Creá tu cuenta</a></li> </ul> </div> </div>
</div>



</body>
</html>
