<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvantGard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/css/HeadderFooter.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="normalize">
    <script src="https://kit.fontawesome.com/745d6d4149.js" crossorigin="anonymous"></script>
    <link href="/css/productDetail.css" rel="stylesheet">
</head>

<div class="container">

    <body>

        <header>
            <header class="main-headder">
                <a href="/"> <img src= "/img/Logo Horizontal  .png"></a>

                <div class="phone-menu">
                    <div class="menu"><i class="fas fa-bars"></i></div>
                    <span class="search-bar">
                        <form action="/" method="POST">
                            <input type="text" name="busqueda" placeholder="Buscá productos, marcas y mas">

                        </form>

                    </span>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="txt">
                    <p>Categorías</p>
                </div>
                <div class="txt">
                    <p>Ofertas</p>
                </div>
                <div class="txt">
                    <p>Historial</p>
                </div>
                <div class="txt">
                    <p>Explorar</p>
                </div>


                <div>
                    <a href="/">
                        <p class="headder-notification">No estas registrado</p>
                    </a>
                </div>
                <div class="iconos">
                    <a href="/"><i class="fas fa-user"></i></a>

                    <a href="/"><i class="fas fa-shopping-cart"></i></a>

                    <a href="/"><i class="fas fa-search"></i></a>




                </div>
            </header>


            <main>
                <div class="container-one">

                    <span class="categories">
                        volver al listado / <a class="bold"> categoría 1 > subcategoria 1 > subcategoria 2 </a>
                    </span>

                    <div class="top">
                        <div class="img-product">


                            <div class="container-two">
                                <img src="/img/Audient ID4 mk2.jpeg" alt="Audient ID4 mk2">

                            </div>

                            <div class="box">

                                <div class="boxes">
                                    <!-- <img src="/images/Audient ID4 mk2.jpeg"> -->
                                    <img src="/img/1.webp">
                                </div>

                                <div class="boxes">
                                    <!-- <img src="/images/Audient ID4 mk2.jpeg"> -->
                                    <img src="/img/2.webp">
                                </div>

                                <div class="boxes">
                                    <!-- <img src="/images/Audient ID4 mk2.jpeg"> -->
                                    <img src="/img/3.webp">
                                </div>

                                <div class="boxes">
                                    <!-- <img src="/images/Audient ID4 mk2.jpeg"> -->
                                    <img src="/img/4.webp">
                                </div>

                            </div>

                        </div>


                        <div class="container-three">
                            <div class="textBox">
                                <h1> Audient ID4 mk2 </h1>
                                <br>
                                <h6> categoría 1 > subcategoria 1 > subcategoria 2 </h6>
                                <br>
                                <div class=price>
                                    <h1> $40250,00 </h1>
                                    <h6> 12 x $3354,16 sin interés </h6>
                                </div>
                                <br>
                                <h5> Audient iD4 MKII Interface de audio USB compacto de 2 entradas y 2 salidas,
                                    diseñado
                                    para
                                    elevar las grabaciones al siguiente nivel en todos los sentidos, el iD4MKII ofrece
                                    unas
                                    prestaciones de audio profesional </h5>



                                <br>
                            </div>

                            <br>

                            <div class="color-product">

                                <div class="color-text"> COLORES: </div>

                                <br>



                                <div class="color">
                                    <button type="submit" class="negro" name="negro"> Negro </button>
                                    <button type="submit" class="plateado" name="plateado"> Plateado </button>
                                </div>

                            </div>
                            <br>
                            <br>
                            <br>
                            <br>

                            <div class="carrito">
                                <!-- <a>  Agregar al carrito </a> <i class="fas fa-shopping-cart"></i> -->
                                <button type="submit" class="carrito" name="carrito"> Agregar al carrito <i
                                        class="fas fa-shopping-cart"> </i> </button>

                            </div>

                            <br>
                            <br>

                        </div>
                    </div>

                    <hr>

                    <br>
                    <br>



                    <div class="bottom">
                        <a class="bold"> CARACTERÍSTICAS PRINCIPALES </a>
                        <br>
                        <br>
                        <br>
                        <div class="marcaModelo">
                            <div class="marca"> Marca </div>
                            <div class="modelo"> Audient </div>
                        </div>
                        <br>
                        <div class="marcaModelo">
                            <div class="marca"> Modelo </div>
                            <div class="modelo"> Mk 2 </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <a class="bold"> OTRAS CARACTERÍSTICAS </a>
                        <br>
                        <br>
                        <div class="lista">
                            <br>
                            <li class="list"> 1 Preamplificador microfónico Clase A </li>
                            <li class="list"> Conversores AD/DA de altas prestaciones </li>
                            <li class="list"> 1 Entrada discreta JFET para instrumento </li>
                            <li class="list"> 2 Salidas de línea </li>
                            <li class="list"> 2 Salidas de auriculares </li>
                            <li class="list"> Modo iD ScrollControl </li>
                            <li class="list"> Botón on/off de monitores </li>
                            <li class="list"> Monitor Mix y Pan </li>
                            <li class="list"> Alimentación real phantom sobre USB </li>
                            <li class="list"> Alimentación a través del bus USB 3.0 </li>
                            <li class="list"> Compatible iOS </li>
                            <li class="list"> 24bit/96khz </li>
                            <li class="list"> Diseño totalmente metálico </li>
                            <br>
                        </div>
                        <br>
                        <br>

                    </div>


                    <hr>
                    <br>
                    <br>



                    <div class="middle">
                        <a class="bold"> OTROS PRODUCTOS SIMILARES </a>
                        <br>
                        <br>
                        <br>
                        <div class="productos">
                            <div class="producto">
                                <img src="/img/D_NQ_NP_2X_939429-MLA44517205157_012021-F.webp" alt="">
                                <hr>
                                <div class="productoTexto">
                                    <p class="Precio">$59.293</p>
                                    <p class="descripcion"> Interface de audio Solid State Logic SSL 2+</p>
                                </div>
                                <br>
                            </div>


                            <div class="producto">
                                <img src="/img/D_NQ_NP_2X_827349-MLA41371845291_042020-F.webp" alt="">
                                <hr>
                                <div class="productoTexto">
                                    <p class="Precio">$50.255</p>
                                    <p class="descripcion">Interface de audio Audient iD14 90V/264V </p>
                                </div>
                                <br>
                            </div>

                            <div class="producto">
                                <img src="/img/D_NQ_NP_2X_793217-MLA41373996200_042020-F.webp" alt="">
                                <hr>
                                <div class="productoTexto">
                                    <p class="Precio">$130.170</p>
                                    <p class="descripcion">Interface Universal Audio Arrow</p>
                                </div>
                                <br>
                            </div>



                            <div class="producto">
                                <img src="/img/D_NQ_NP_2X_656031-MLA41372451261_042020-F.webp" alt="">
                                <hr>
                                <div class="productoTexto">
                                    <p class="Precio">$31.290</p>
                                    <p class="descripcion">Interface de audio Focusrite Scarlett </p>
                                </div>
                                <br>
                            </div>

                        </div>

                        <br>
                        <br>

                    </div>











                </div>







            </main>


    </body>
</div>

</html>