*{
    box-sizing: border-box;
    
}

body{
    font-family: montserrat;
    margin: 0;
}
main{
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color:white
}

/* header */

.main-headder{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: bold;
}

.headder-notification{
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 15px;
}

/*.search-bar{
    display: none;
    border: white solid;
    height: 30px;
    width: 40vw;
    z-index: 10;
    position: absolute;
    top:8px;
    right: 10px;
   
    text-align: center;
    
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 10px;
}*/

header img{
    height: 60%;
    margin: 5px 10px;
    padding: 1px;
    margin-top: 10px;
}
.iconos{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.iconos .fas{
    margin-right: 20px;
}

/* main */

.background {
    background-size: cover;
    
}

main {
    width: 100%;
    height: auto;
}

.sitio {
    display: flex;
    width: 95%;
    margin: auto;
    color: white;
}

.ubicacion {
    font-weight: bold;
    margin-left: 5px;
}

.cajaPadre {
    border: 1px solid black;
    width: 95%;
    height: 37%;
    margin: auto;
    padding: 5px 20px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.cajaHija1 {
    display: flex;
}

.carrito {
    font-weight: bold;
    border-bottom: 3px solid black;
    margin-right: 75px;
    text-align: center;
    width: 15%;
    padding-bottom: 10px;
}

.favoritos {
    width: 100%;
    font-weight: lighter;
    padding-bottom: 10px;
}

hr {
    width: 100%;
    size: 10px;
    margin-top: -20px;
}

.cajaHija2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px 0px;
    align-items: center;
}

.image {
    width: 125px;
    height: 125px;
    margin-left: 10px;
}

.producto {
    font-weight: bold;
}

.cantidad {
    padding: 5px;
    width: 75px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menosMas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 75px;
    height: 40px;
}

.eliminar {
    font-size: 15px;
    margin-top: -15px;
}

.eliminar:hover {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.precio {
    font-weight: bold;
    margin-right: 10px;
}

.cajaHija3 {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    padding: 15px 0px;
}

.detalles {
    margin-right: 15px;
    font-weight: bold;
}

.detallesDeEnvio {
    width: 20%;
    margin-right: 10px;
}

.cajaHija4 {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
}

.precioTotal {
    margin-left: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.ubicacionBoton {
    display: flex;
    justify-content: flex-end;
}

.botonContinuar {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 3px 10px;
    transition: all 450ms;
    border: 3px solid black;
    width: 12%;
    height: 45px;
    font-size: 20px;
}
.inicio:hover{
    text-decoration-line: underline;
}

.botonContinuar:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.menosMas i{
    font-size: 14px;
}


/* footer 

footer{
    position: absolute;
    bottom: 0px;
}
.img{
    width: 100vw;
    height: 90px;
    background-color: black;
    margin-bottom: 0px;

}
.img img{
    height: 50%;
    margin: 30px 30px

}
.footer-text-conteiner{
    width: 100%;
    height: 300px;
    background-color: black;
    border: black solid 1px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    color: white;
    font-size: 15px;
}
.footer-text h3{
    font-size: 20px;
}
.bottom-footer{
    width: 100vw;
    height: 80px;
    background-color: rgb(165, 165, 165);
}
.bottom-text-footer-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-text-footer-conteiner p{
    font-size: 12px;
    font-weight: 500;
}
.copyright-txt{
    font-size: 10px;
    margin: 20px 40px;
    position: absolute;
    bottom: 0px;

} */

/*animaciones*/

.footer-text p:hover{
    text-decoration-line: underline;
}
.txt:hover{
    margin: 0 40px;
    width: 30vh;   
    height: 10vh;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
.txt{
    transition: all 400ms;
}

.menosMas i:hover{
    font-size: 16px;
    color: black;
}