/* main */

.background {
    background-size: cover;
}

main {
    width: 100%;
}

.sitio {
    display: flex;
    width: 95%;
    margin: auto;
    color: white;
}

.ubicacion {
    font-weight: bold;
    margin-left: 5px;
}

.cajaPadre {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    padding: 5px 20px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.cajaHija1 {
    display: flex;
}

.carrito {
    font-weight: bold;
    border-bottom: 3px solid black;
    margin-right: 75px;
    text-align: center;
    width: 15%;
    padding-bottom: 10px;
    font-size: 15px;
}

.favoritos {
    width: 100%;
    font-weight: lighter;
    padding-bottom: 10px;
    font-size: 15px;
}

hr {
    width: 100%;
    size: 10px;
    margin-top: -18px;
}

.productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 15px 0px;
    align-items: center;
}

.image {
    width: 125px;
    height: 125px;
    margin-left: 10px;
}

.producto {
    font-weight: bold;
}

.cantidad {
    padding: 5px;
    width: 75px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menosMas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 75px;
    height: 40px;
}

.eliminar {
    font-size: 15px;
    margin-top: -15px;
}

.eliminar:hover {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.precio {
    font-weight: bold;
    margin-right: 10px;
}

.cajaHija3 {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    padding: 15px 0px;
}

.detalles {
    margin-right: 15px;
    font-weight: bold;
}

.detallesDeEnvio {
    width: 20%;
    margin-right: 10px;
}

.cajaHija4 {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
}

.precioTotal {
    margin-left: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.ubicacionBoton {
    display: flex;
    justify-content: flex-end;
}

.botonContinuar {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 3px 10px;
    transition: all 450ms;
    border: 3px solid black;
    width: 12%;
    height: 45px;
    font-size: 15px;
}

.inicio:hover{
    text-decoration-line: underline;
}

.botonContinuar:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.menosMas i{
    font-size: 14px;
}

/*animaciones*/

.footer-text p:hover{
    text-decoration-line: underline;
}
.txt:hover{
    margin: 0 40px;
    width: 30vh;   
    height: 10vh;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
.txt{
    transition: all 400ms;
}

.menosMas i:hover{
    font-size: 16px;
    color: black;
}

/*media queries*/

@media (max-width: 480px) {
    .cajaHija3 {
        display: flex;
        justify-content: center;
    }
    .botonContinuar {
        font-size: 10px;
        min-width: 40%;
    }
}

@media (max-width: 768px) {
    .botonContinuar {
        font-size: 12px;
        width: 15%;
    }
    .image {
        margin-left: 0;
    }
    .precio {
        margin-right: 0;
    }
    .detallesDeEnvio {
        margin-right: 0;
    }
    .precioTotal {
        margin-right: 0;
    }
}