body{
    height: auto;
    background-color: #121655;

}
#imagenPrincipal-txt{
    width: 20%;
    font-size: 15px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 2px;
}
#imgDetail{
    font-size: 12px;
    color: rgb(83, 83, 83);
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 0px;
}
.img-adicionales{
    font-size: 15px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 2px;
}
.addFile{
    font-size: 10px;
    font-weight: 600;
    color: grey;
    background-color: white;
    display: inline-block;
    padding: 15px 40px ;
    width: fit-content;
    text-align: center;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-left: 15px;
}
#AgregarImagen{
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1
}
.imagenMuestra{
    width: 10%;
    display: flex;
    font-size: 13px;
    align-items: center;

}
.imagenMuestra img{
    width:100%;
    margin-left: 15px;
}
.imagenMuestra p{
    margin-left: 20px;
    color:darkblue
}
.formulario-txt{
    min-width: 80%;
    margin: 0 2%;
    height: 30px;
    border: solid 1px lightgray;
    border-radius: 5px;
}
.Descripcion{
    width: 80%;
    margin: 0 2%;
    height: 100px;
    border: solid 1px lightgray;
    border-radius: 5px;
}
.productsList h4{
    font-size: 15px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 2px;
}
form p{
    font-size: 12px;
    color: rgb(83, 83, 83);
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 0px;
}
.oferta{
    font-size: 15px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    margin-left: 15px;
}
#monedas{
    min-width: 50%;
    margin: 0 2%;
    height: 30px;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
}
#precio{
    width: 20%;
    margin: 0 2%;

    height: 30px;
    border: solid 1px lightgray;
    border-radius: 5px;
}
.buttons{
    height: fit-content;
    display: flex;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.productsList button{
   width: 80%;
   height: 40px;
   margin-left: 10%;
   border-radius: 5px;
   border: solid 1px lightgray;
   font-size: 13px;
   font-weight: 400;
   font-family: montserrat;
   color: black
}
#submit-btn{
    background-color: #5867dd; 
    color: #f0f1f5;
    
}


.atrib-txt{
    font-size: 12px;
}
.atrib{
    margin-left: 10%;
    margin-top: 40px;
}

/*ANIMACIONES*/ 
label:hover{
    background-color: lightgray;
    color: black;
}
.imagenMuestra p:hover{
    text-decoration-line: underline;

}
.reset-btn:hover{
    color: white
}
#submit-btn:hover{
    background-color: #39459e;
}


/*MEDIAS*/
@media(max-width: 1050px){
    .productsList .buttons{
        margin: 0 15px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }
    .productsList button{
        font-size: 10px;
        height: 30px;
    }
    .productsList p{
        font-size: 60%;
    }
    .productsList h4{
        font-size: 60%;
    }
    .productsList .Oferta-txt{
        font-size: 12px;
       
    }
    .productsList{
        margin-bottom: 10px;
    }
    .oferta{
        margin: 20px 10px;
    }
    .imagenMuestra img{
        width: 200%;
    }
    .precios #monedas{
        font-size: 10px;
        font-family: montserrat;
    }
}
