*{
    box-sizing: border-box;
    
}

body{
    font-family: montserrat;
    margin: 0;
    
    /*background-color: rgb(212, 211, 211);*/
}

a{
    text-decoration: none;
    color:white
}

.main-headder{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: bold;
    z-index: 100;
    position: relative;
}

.headder-notification{
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 15px;
}

/*.search-bar{
    display: none;
    border: white solid;
    height: 30px;
    width: 40vw;
    z-index: 10;
    position: absolute;
    top:8px;
    right: 10px;
   
    text-align: center;
    
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 10px;
}*/

header img{
    height: 60%;
    margin: 5px 10px;
    padding: 1px;
    margin-top: 10px;
}
.iconos{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.iconos .fas{
    margin-right: 20px;
}

/*FOOTER*/

.main-footer{
    width: 100%;
}
.img{
    width: 100%;
    height: 90px;
    background-color: black;
    margin-bottom: 0px;

}
.img img{
    height: 50%;
    margin: 30px 30px;
}
.footer-text-conteiner{
    width: 100%;
    height: 300px;
    background-color: black;
    border: black solid 1px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    color: white;
    font-size: 15px;
}
.footer-text h3{
    font-size: 20px;
}
.bottom-footer{
    width: 100%;
    height: 80px;
    background-color: rgb(165, 165, 165);
    position: relative;
}
.bottom-text-footer-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-text-footer-conteiner p{
    font-size: 12px;
    font-weight: 500;
}
.copyright-txt{
    font-size: 10px;
    margin: 20px 40px;
    display: block;
    position: absolute;
    z-index: 20;
    bottom: 0px;
    left: 4px;

}



/*animaciones*/

.footer-text p:hover{
    text-decoration-line: underline;
}
.txt:hover{
    margin: 0 40px;
    width: 30vh;   
    height: 10vh;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
.txt{
    transition: all 400ms;
}
