#myVideo {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110%;
    height: auto;
    z-index: -5;
    place-items: center;    
    top: 0;
    content: cover;
  }
  @media(max-width: 1000px){
    #myVideo{
      width: auto;
      height: 100%;
    }
    
  }
  