<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link href="/css/controlPanel.css" rel="stylesheet">
        <link href="/css/edit.css" rel="stylesheet">

        <title>AvantGard</title>

</head>

<body>
    <%- include("../partials/logged-in-header") %>
        <article class="mainControlPanel">
            <section class="optionsConteinerPhone">
                <i class="fas fa-bars"></i>
                <br>
                <i class="fas fa-house-user"></i>
                <i class="fas fa-cog"></i>
                <i class="fas fa-box-open"></i>
                <i class="fas fa-piggy-bank"></i>
                <i class="fas fa-truck"></i>
                <br>
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-comments"></i>


            </section>
            <section class="optionsConteiner">
                <h4><i class="fas fa-house-user"></i> Inicio</h3>
                    <h5>Mi tienda</h5>
                </h4>
                <p><i class="fas fa-cog"></i> Datos</p>
                <p id="productos"><i class="fas fa-box-open"></i> Productos</p>
                <p><i class="fas fa-piggy-bank"></i> Formas de pago</p>
                <p><i class="fas fa-truck"></i> Formas de envío</p>

                <h5>Mis ventas</h4>
                    <p><i class="fas fa-cart-arrow-down"></i> Ventas</p>
                    <p><i class="fas fa-comments"></i> Preguntas recibidas</p>

            </section>
        </article>

        <div class="misProductos">
            <h3>Nuevo producto</h3>
        </div>
        <article class="productsList">
            <div id="imagenPrincipal-txt">
                <p>Imagen Principal</p>
            </div>
            <div id="imgDetail">
                <p>La imagen debe ser de almenos 500 x 500 píxeles</p>
            </div>
            <form action="/products" method="POST">
                <label for="AgregarImagen" class="addFile">
                    <span>Añadi una nueva imagen</span>
                </label>
                <input type="file" name="image" id="AgregarImagen" >

                <h4>Titulo</h4>
                <p>Agrega un título para describir el artículo. Los títulos pueden tener hasta 150 caracteres, pero
                    recomendamos usar menos de 65.
                </p>

                <input type="text" name="name" id="Titulo" maxlength="150" class="formulario-txt">

                <h4>Descripcion</h4>
                <p>Agrega detalles del artículo, incluidas las características que lo hacen único para que las personas
                    comprendan los beneficios que ofrece..</p>

                <textarea type="text" name="description" id="Titulo" maxlength="1500" class="Descripcion"></textarea>

                <h4>Precio</h4>
                <p>Elige una divisa y agrega el precio completo del artículo tal como se muestra en tu sitio web.</p>
                <div class="precios">
                    <select name="monedas" id="monedas">
                        <option value="arg">ARS- Peso Argentino</option>
                        <option value="usd">USD- Dólar EstadoUnidense</option>
                    </select>
                    <input type="number" name="price" id="precio" placeholder="Precio">
                </div>


                <input type="checkbox" name="Oferta" value="Yes" class="oferta">Este articulo esta en oferta


                <h4>Marca</h4>
                <input type="text" name="marca" id="marca" placeholder="Marca" class="formulario-txt">

                <h4>ID</h4>
                <p>Agrega un ID unico por producto para identificarlo</p>
                <input type="text" name="localID" id="id" placeholder="ID" class="formulario-txt">


                <h4>Categoria</h4>
                <p>Elegir la categoría o subcategoría más específica garantiza que los compradores vean la información
                    más
                    relevante de tu artículo.</p>
                <div>
                    <select name="categoria" id="categoria" class="formulario-txt">
                        <option value="auriculares">Auriculares</option>
                        <option value="Microfonos">Microfonos</option>
                        <option value="Sintetizadores">Sintetizadores</option>
                        <option value="Amplificadores y parlantes">Amplificadores y parlantes</option>
                        <option value="Teclados">Teclados</option>
                        <option value="Controladores MIDI">Controladores MIDI</option>
                    </select>
                </div>

                <div class="buttons"><button type="reset">Reset</button>
                    <button type="submit">Agregar producto</button>
                </div>
            </form>

        </article>

</html>