<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Catálogo</title>
        <link href="/css/catalogo.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header") %>

        <br>
        <br>

        <h2 class="cat-txt">Basado en tus ultimas busquedas</h2>


        <div class="seccion-productos">




            <div class="producto">
                <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$22.500</p>
                    <p class="descripcion">Consola Mezclador Mackie</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/Diseño sin título (1).png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$340.500</p>
                    <p class="descripcion">Pioneer Djs 1000 Sampler</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/sampler.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$25.000</p>
                    <p class="descripcion">Akai Mpx8 Sampler Sd Midi Usb</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/SintB.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$25.600</p>
                    <p class="descripcion">Controlador Midi Novation Launchpad</p>
                </div>
            </div>


        </div>
        <br>
        <h2 class="cat-txt">Productos de tu interés</h2>

        <div class="seccion-productos">

            <div class="producto">
                <img src="/img/auricular.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$70.400</p>
                    <p class="descripcion">Auricular Sennheiser Hd 650 Hifi</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/controlador.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$32.405</p>
                    <p class="descripcion"> Controlador DJ Behringer CMD DV-1 </p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/Diseño sin título.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$40.600</p>
                    <p class="descripcion">Procesador Sampler De Efectos Dinámicos Korg Kaoss Pad Kp3 </p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/micro2.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$43.900</p>
                    <p class="descripcion">Micrófono Audio-Technica AT2050 condensador omnidireccional y cardioide</p>
                </div>
            </div>


        </div>
        <br>
        <h2 class="cat-txt">Ofertas</h2>

        <div class="seccion-productos">

            <div class="producto">
                <img src="/img/parlante c.webp" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$111.804</p>
                    <p class="descripcion">Monitor De Estudio Krk Rp7 G4 Rokit</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/microfono.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$90.400</p>
                    <p class="descripcion">Micrófono Rode NT2-A condensador cardioide y omnidireccional</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/parlante.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$75.400</p>
                    <p class="descripcion">Parlante Thonet & Vander Hi-End Kugel con bluetooth black 100V/240V</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/pocket.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$18.975</p>
                    <p class="descripcion">Sintetizador Teenage Engineering Po-32 Tonic - Oddity</p>
                </div>
            </div>

        </div>
        <br>
        <h2 class="cat-txt">Recomendados</h2>

        <div class="seccion-productos">

            <div class="producto">
                <img src="/img/parlante2.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$80.000</p>
                    <p class="descripcion">Jbl Lsr-305 Bafle</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/sintC.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$38.990</p>
                    <p class="descripcion">Proco Px-12 Consola Audio Mixer Potenciada Usb Bluetooth</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/sintetizador.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$1.000.000</p>
                    <p class="descripcion">Yamaha Montage8 88-key Sintetizador Workstation White</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/SintB.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$25.600</p>
                    <p class="descripcion">Controlador Midi Novation Launchpad</p>
                </div>
            </div>


        </div>
        <br>
        <h2 class="cat-txt">Mas buscados</h2>

        <div class="seccion-productos">

            <div class="producto">
                <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$22.500</p>
                    <p class="descripcion">Consola Mezclador Mackie</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/novation.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$291.300</p>
                    <p class="descripcion">Novation Peak Sintetizador Polifónico</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/Diseño sin título.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$40.600</p>
                    <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
                </div>
            </div>

            <div class="producto">
                <img src="/img/arturia.png" alt="">
                <hr>
                <div class="product-txt-conteiner">
                    <p class="Precio">$23.300</p>
                    <p class="descripcion">Minilab Mkii Arturia Teclado Midi 25 Teclas 8 Pads Y Knobs</p>
                </div>
            </div>


        </div>

        <br>
        <br>
        <br>

        <h2 class="cat-txt">Buscá por categorias</h2>
        <div class="main-categories">

            <div class="categories-conteiner">
                <div class="categoria-grande">
                    <div class="ctg-txt-conteiner">
                        <h2>Auriculares</h2>

                    </div>
                    <a href="/"><img src="/img/AURICULARES.webp" alt="" class="ctg-img"></a>

                </div>


                <div class="categoria-chica">
                    <div class="ctg-txt-conteiner">
                        <h2>Amplificadores y parlantes</h2>
                    </div>
                    <a href="/"><img src="/img/AMPLIFICADOR.jpg" alt="" class="ctg-img"></a>
                </div>
                <div class="categoria-chica">
                    <div class="ctg-txt-conteiner">
                        <h2>Teclados</h2>
                    </div>
                    <a href="/"><img src="/img/SINTETIZADORES.jpg" alt="" class="ctg-img"></a>
                </div>
            </div>
            <div class="categories-conteiner">
                <div class="categoria-chica1">
                    <div class="ctg-txt-conteiner">
                        <h2>Sintetizadores</h2>
                    </div>
                    <a href="/"> <img src="/img/SINTETIZADORjpg.jpg" alt="" class="ctg-img"></a>

                </div>
                <div class="categoria-chica1">
                    <div class="ctg-txt-conteiner">
                        <h2>Micrófonos</h2>
                    </div>
                    <a href="/"> <img src="/img/MIC.jpg" alt="" class="ctg-img"> </a>
                </div>
                <div class="categoria-grande1">
                    <div class="ctg-txt-conteiner">
                        <h2>Controladores MIDI</h2>
                    </div>
                    <a href="/"> <img src="/img/MIDI.jpg" alt="" class="ctg-img"></a>

                </div>
            </div>
        </div>

        <%- include("../partials/footer") %>
</body>

</html>