<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Catálogo</title>
    <link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>
    <%- include("../partials/header") %>

    <div class="seccion-productos">
        <i class="fas fa-chevron-left"></i>
        <div class="producto">
            <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$22.500</p>
                <p class="descripcion">Consola Mezclador Mackie</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (1).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$340.500</p>
                <p class="descripcion">Pioneer Djs 1000 Sampler</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título.png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$40.600</p>
                <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (2).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$25.600</p>
                <p class="descripcion">Controlador Midi Novation Launchpad</p>
            </div>
        </div>

        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="seccion-productos">
        <i class="fas fa-chevron-left"></i>
        <div class="producto">
            <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$22.500</p>
                <p class="descripcion">Consola Mezclador Mackie</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (1).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$340.500</p>
                <p class="descripcion">Pioneer Djs 1000 Sampler</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título.png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$40.600</p>
                <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (2).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$25.600</p>
                <p class="descripcion">Controlador Midi Novation Launchpad</p>
            </div>
        </div>

        <i class="fas fa-chevron-right"></i>
    </div> 

    <div class="seccion-productos">
        <i class="fas fa-chevron-left"></i>
        <div class="producto">
            <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$22.500</p>
                <p class="descripcion">Consola Mezclador Mackie</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (1).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$340.500</p>
                <p class="descripcion">Pioneer Djs 1000 Sampler</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título.png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$40.600</p>
                <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (2).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$25.600</p>
                <p class="descripcion">Controlador Midi Novation Launchpad</p>
            </div>
        </div>

        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="seccion-productos">
        <i class="fas fa-chevron-left"></i>
        <div class="producto">
            <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$22.500</p>
                <p class="descripcion">Consola Mezclador Mackie</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (1).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$340.500</p>
                <p class="descripcion">Pioneer Djs 1000 Sampler</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título.png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$40.600</p>
                <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (2).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$25.600</p>
                <p class="descripcion">Controlador Midi Novation Launchpad</p>
            </div>
        </div>

        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="seccion-productos">
        <i class="fas fa-chevron-left"></i>
        <div class="producto">
            <img src="/img/D_NQ_NP_2X_816025-MLA25347808916_022017-F.webp" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$22.500</p>
                <p class="descripcion">Consola Mezclador Mackie</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (1).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$340.500</p>
                <p class="descripcion">Pioneer Djs 1000 Sampler</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título.png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$40.600</p>
                <p class="descripcion">Procesador Sampler De Efectos Dinámicos</p>
            </div>
        </div>

        <div class="producto">
            <img src="/img/Diseño sin título (2).png" alt="">
            <hr>
            <div class="product-txt-conteiner">
                <p class="Precio">$25.600</p>
                <p class="descripcion">Controlador Midi Novation Launchpad</p>
            </div>
        </div>

        <i class="fas fa-chevron-right"></i>
    </div>

    <%- include("../partials/footer") %>
</body>
</html>